body {
	margin: 0;
	padding: 0;
	background: #004756;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

input {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	padding: 4px;
}