.controls {
    margin-bottom: 20px;
}

.page-header {
    margin-top: 20px;
}

ul {
    list-style: none;
}

.widget-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
	z-index: 999;
	background-color: #fff;
}

.widget-btns a {
	padding: 5px;
}

.page-header {
	margin-bottom: 0;
}

.grid-content {
	background-size: contain;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	-webkit-transition: height .5s, width 0.5s;
	-moz-transition: height .5s, width 0.5s;
	-o-transition: height .5s, width 0.5s;
	transition: height .5s, width 0.5s;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(198, 198, 198, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(198, 198, 198, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(198, 198, 198, 0.75);
	border: 1px solid #ccc;
}


/*.gridster-item img {*/
	/*-webkit-transition: height .5s, width 0.5s;*/
	/*-moz-transition: height .5s, width 0.5s;*/
	/*-o-transition: height .5s, width 0.5s;*/
	/*transition: height .5s, width 0.5s;*/
/*}*/

/*.gridster-item-moving img {*/
	/*-webkit-transition: none !important;*/
	/*-moz-transition: none !important;*/
	/*-o-transition: none !important;*/
	/*transition: none !important;*/
/*}*/

a {
    color: #ccc;
}

form {
    margin-bottom: 0;
}

.gridster {
    border: 1px solid #ccc;
}

.gridster.gridster-mobile {
	border: none;
}
