<div ng-controller="DashboardCtrl">
    <div class="page-header">
        <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
        <a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
        <h1 style="display: inline-block; width: 200px;">Dashboard</h1>
        <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="dashboard" ng-options="d.name for d in dashboards | orderBy:'id'">
        </select>

    </div>
    <div gridster="gridsterOptions" items="dashboard.widgets" api="gridster">
        <div ng-controller="CustomWidgetCtrl">
            <div class="widget-btns">
                <a title="settings" ng-click="openSettings()"><i class="glyphicon glyphicon-cog"></i></a>
                <a title="Remove widget" ng-click="remove()"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <div ng-switch="item.type">
                <iframe frameborder="0" scrolling="no" ng-switch-when="iframe" class="grid-content" width="100%" ng-src="{{ src }}"></iframe>
                <div ng-switch-default class="grid-content" ng-style="{{ style }}"></div>
            </div>
        </div>
    </div>
</div>

